

.display-employees{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#search-icon-styler{
    display: inline-block;

    justify-content: space-between;

}
.div-search-container-styler{
    display: inline-block;
    justify-content: space-between;
}