
.employees-form-styler{
    width: 100%;
    background-color: silver;
    margin: 10px;
}
.label-name{
    background-color: #646cff;
   display:flex;
    flex-direction: row;
    float: left;
    width: 100px;
    height: 50px;
    margin-top: 15px;
    color: aliceblue;
}
.input-name{
    background-color: #f9f9f9;
    display:flex;
    flex-direction: row;
    float: left;
    width: 220px;
    height: 47px;
    margin-top: 15px;
    margin-left: 15px;
color: black;
}
.div-personalNr{
    width: 40%;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 100px;
}

.input-employeeNr{
    background-color: white;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
}

.label-employeeNr{
    background-color: lightblue;
    width: 150px;
    height: 50px;
    margin-top: 15px;

}

.row-button-div{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    margin-top: 50px;
    margin-right: 10px;
    display: flex;

}

.row-button02-div
{
    text-align: center;
    background-color:darkseagreen;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;

}
#button-ok{
  width: 100px;
}
#button-abbrechen{
    width: 100px;
}