
.header-styler{
    display: inline-block;
    margin: 0;

}

.title-styler-h1{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;

}
.title-styler-h2{
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue;
}