

#navi li{
    display: inline;
    list-style-type: none;

    background-color: #F7FFC3;        /* Hintergrundfarbe für die Navigation */
    padding: 4px 0;                   /* Innenabstand: oben/unten 4px, li/re 0 */
    border-top: 2px solid black;    /* Rahmenlinie oben */
    border-bottom: 2px solid black; /* Rahmenlinie unten */
   border-right: 2px solid black;
    border-left: 2px solid black;
    margin-right: 15px;                        /* Keinen Außenabstand */
    gap: 10px;
}

#navi01 {
    a:link { background-color: thistle }
    a:hover { background-color: pink }
    a:active { background-color: gold }
    a:visited:hover{background-color:gray;color:#F7FFC3 }
    a:focus { background-color: aquamarine; color: white }
}
#navi02{
    a:link { background-color: thistle }
    a:hover { background-color: pink }
    a:active { background-color: gold }
    a:focus { background-color: aquamarine }
    a:visited:hover{background-color:gray }
}
#navi03{
    a:link { background-color: thistle }
    a:hover { background-color: #F7FFC3 }
    a:active { background-color: deepskyblue }
    a:focus { background-color: aquamarine }
    a:visited:hover{background-color:gray }
}
#navi04{
    a:link { background-color: thistle }
    a:hover { background-color: pink }
    a:focus { background-color: aquamarine }
    a:visited:hover{background-color:gray }
}
