
.navi{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
font-size: 20px;
    gap: 2em;
    padding: 10px;
    margin-top: 70px;
    background-color: ivory;
}
.navi02{
    list-style: none;
    a:hover {background-color: pink;}
    a:focus { background-color: aquamarine;}
    a:focus-visible{background-color: aquamarine;}
    background-color: antiquewhite;
}
.navi01 {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
    &:focus-visible, &:active {background-color: aquamarine;}
    &:hover {background-color: pink;}
    &:focus { background-color: aquamarine;}
}
/*
.navi01:active {
    background-color: yellow;
}
.navi02:focus {
    background-color: yellow;
}
.navi:focus{
    background-color: yellow;
}
 */